<FilesMatch "^(data\.json|config\.php|\.htaccess)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
<IfModule mod_deflate.c>
    SetEnvIfNoCase Request_URI "\.php$" no-gzip dont-vary
</IfModule>
<IfModule mod_php.c>
    php_flag zlib.output_compression Off
</IfModule>
